<ion-header>
  <ion-toolbar>
    <ion-title>componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let producto of productos"   >
    <ion-card *ngIf="producto.Categoria === 'componentes'" style="position: relative;">

      <ion-img class="img-producto" [src]="producto.Foto" style="height: 350px; margin-top: auto; " ></ion-img>
      <ion-item lines="full">
        <ion-label style="text-align: center ;" class="subtitulo">{{producto.Nombre}}</ion-label>
      </ion-item>
      <p class="precio" style="text-align: center;" > ${{producto.Precio}}</p>
      <ion-icon (click)="addCarrito()" class="icon-product" name="cart" style="width: 100%; margin: auto; font-size: 40px;" ></ion-icon>


    </ion-card>

  </div>
</ion-content>
